@import '../../../common.scss';

$color: #ecefef;
$background: #081a1c;

.game-view {
  position: relative;
  top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  @include flex($flexRow: true);
  @include text-center($justify: true);
  margin: 0rem auto;
}

.game-card {
  margin: 1rem 1rem;
  color: $color;
  @include text-center($text: true);
  min-width: 90%;
}

.game-title {
  height: 4rem;
  background: $background;

  @include flex();
  @include text-center($justify: true, $items: true);
}

@media screen and (min-width: 39.9375em) {
  .game-card {
    min-width: 80%;
    max-width: 60%;
  }
}

@media screen and (min-width: 60em) {
  .game-card {
    min-width: 50%;
    max-width: 60%;
  }
}
